
<%= form_for @post do |f| %>

    <p>
      <h2><%= f.label :title %><br></h2>
      <%= f.text_field  :title, :readonly => true %>
    </p>

    <p>
      <h2><%= f.label :text %><br></h2>
      <%= f.text_area :text, :readonly => true, :style => 'width: 50%',:rows=>'6'%>
    </p>


<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    &nbsp;
      <strong>Comment:</strong>
      <%= comment.body %>
    <td><%= link_to 'Delete', [comment.post,comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </p>
<% end %>


<br><h3>Add a comment:</h3>
<%= render 'comments/form' %>


<%= link_to 'Back to Posts', posts_path %>